<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list
    </title>
    <style>

    </style>
</head>

<body>
    <div>
        <h1>To do list</h1>
        <input type="text" class="text" placeholder="Enter the text">
        <button class="btn" onclick="Add()">add</button>

        <h2>list</h2>
        <li class="list"></li>

    </div>
</body>
<script>
    const input = document.getElementsByClassName('text');
    const btn = document.getElementsByClassName('btn');


    function Add() {
        const btn = document.querySelector('input').innerText;
        console.log(`${btn}`)
    }
</script>

</html>